$menu-font: "soleil", sans-serif;
$headers-font: "soleil", sans-serif;

$primary-font: "soleil", sans-serif;
$secondary-font: "soleil", sans-serif;

$light: #aaaaaa;
$lighter: #f3f3f3;

$gray: rgb(66,66,66);
$grayer: rgb(34,34,34);