/*------------------------------------*\
  HOMEPAGE
\*------------------------------------*/

#load-more {
  display: none;
  margin: 0 auto;
  margin-top: 25px;
  .loading {
    display: none;
    font-size: 30px;
    line-height: 0;
  }
}

/* Waiting on load */
.one {
    opacity: 0;
    -webkit-animation: dot 1s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1s infinite;
      animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0.5; }
    100% { opacity: 1; }
}


/*------------------------------------*\
  WRAPPERS
\*------------------------------------*/

/* Wrapper helpers */
.trans {
  @include trans-duration(800ms);
}

.pane {
  position: fixed;
  height: 100%;
  visibility: hidden;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  @include transform-origin(0 0 0);
  &.right {
    width: 100%;
    right: 0;
    @include transform(translate3d(100%,0,0));
  }
  &.left {
    left: 0;
    @include transform(translate3d(-240px,0,0));
  }
}

#content {
  padding-bottom: 50px;
}

/* Wrapper of wrappers */

#wrapper {
  &.push-right {
    .wrapper {
      @include transform(translate3d(-100%,0,0));
    }
  }
  &.push-left {
    .wrapper {
      @include transform(translate3d(240px,0,0));
    }  
  }
  &.push-left{
    .pane {
      &.left {
        visibility: visible;
        @include transform(translate3d(0,0,0));
      }
    }
  }
  &.push-right  {
    .pane {
      &.right {
        visibility: visible;
        @include transform(translate3d(0,0,0));
      }
    }
  }
}

/* Navigation Wrapper */

#navigation-wrapper {
  background: $grayer;
  color: white;
  width: 240px;
  padding: 15px;
  overflow: auto;
  z-index: 10001;

  hr {
  margin-bottom: 15px;
  margin-top: 15px;
  }

  #logo-uc img {
    max-width: 100px;
    margin-top: 50px;
    @media (min-width: 768px) {
      position: absolute;
      bottom: 15px;
      left: 15px;
    }
  }

  nav {
    ul {
      li {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.02em;
        margin-bottom: 7px;
        a {
          color: $light;
          &:hover {
            color: white;
            text-decoration: none;            
          }
        }        
        &.current_page_item, &.current-menu-item {
          a {
            color: white;
          }
        }
      }
    }
  }

  .sub-navigation {
    margin-top: 25px;
    li {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.02em;
      margin-bottom: 0;
      a {
        color: #aaa;
        &:hover {
          color: white;
        }
      }
    }
  }
}

/* Content Wrapper */

#content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Search Wrapper */

.user {
  text-transform: capitalize;
}

#search-wrapper {
  background: $grayer;
  color: $lighter;
  z-index: 1001;
  padding-bottom: 50px;

  .caption {
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 30px;
    @media (min-width: 768px) {
      margin-bottom: 50px;
      margin-top: 100px;
      font-size: 40px;
    }
  }

  .tooltip {
    &.bottom {
      .tooltip-arrow {
        border-bottom-color: $lighter;
      }
    }
    &.right {
      .tooltip-arrow {
        border-right-color: $lighter;
      }
    }
    &.left {
      .tooltip-arrow {
        border-left-color: $lighter;
      }
    }
    &.top {
      .tooltip-arrow {
        border-top-color: $lighter;
      }
    }
    .tooltip-inner {
      color: $grayer;
      background: $lighter;
    }
  }

  #pessoas {
    .user {
      margin-bottom: 5px !important;
      h2 {
        font-size:20px;
        margin-bottom: 5px;
        margin-top: 0;
        @media (min-width: 768px) {
          font-size: 30px;
        }
      }
      span {
        font-size: 12px;
          @media (min-width: 768px) {
            font-size: 14px;
          }       
      }
      a, span {
        color: $light;
      }
      &:hover {
        a, span {
          color: $lighter;
        }
      }
      @media (min-width: 768px) {
        margin-bottom: 25px !important;
      }
    }
  }

  .type-trabalhos {
    .tag {
      background: $grayer;
    }
    @media (min-width: 992px) {
      &:hover{
        .tag {
          background: $lighter;
          color: $grayer;
        }
      }
    }
  }

  .item {

    .info {
      background: rgba($lighter, 0.8);
      padding-right: 15px 45px 15px 15px;
      .title {
        color: $grayer;
        font-size: 24px;
        line-height: 32px; 
        a {
          color: $grayer;
        }
        @media (min-width: 768px) {
          font-size: 30px;
          line-height: 36px;
        }
      }
      .details, .authors {
        color: $gray;
        font-size: 10px;
        a {
          color: $gray;
        }
        @media (min-width: 768px) {
          font-size: 14px;
        }
      }
      @media (min-width: 768px) {
        background: $lighter;
        padding: 20px 50px 20px 20px;
      }
    }
  }

  .type-post {
    .info {
      background: $lighter;
      @media (min-width: 768px) {
        padding: 20px;
      }      
    }
  }

  input {
    border: 0;
    background: transparent;
    text-transform: lowercase;
    font-weight: 100;
    font-family: 'soleil';
    padding: 0;
    width: 100%;
  }

  .nav-tabs {
    border: 0;
    margin-bottom: 20px;
    li {
      font-family: $secondary-font;
      font-size: 14px;
      text-transform: uppercase;
      margin-right: 30px;
      width: 100%;
      @media (min-width: 768px) {
        width: auto;
      }
      a {
        border: 0;
        border-radius: 0;
        border-top: 1px solid $light;
        top: -1px;
        color: $light;
        padding-right: 0;
        padding-left: 0;
        margin: 0;
      }
      &:hover, &.active {
        a {
          background: none;
          color: $lighter;
          border-top: 1px solid $lighter;
          &:hover {
            background: none;
            border: 0;
            border-top: 1px solid $lighter;
          }
        }
      }
    }
  }
}

/*------------------------------------*\
  CAPTION
\*------------------------------------*/

.caption {
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 50px;
  line-height: 1.2;
  @media (min-width: 768px) {
     margin-top: 200px;
     margin-bottom: 100px;
  }
}