
/*------------------------------------*\
  MAIN PAGE CONTAINER
\*------------------------------------*/

.type-trabalhos {
  .tag {
    position: absolute;
    top: 0;
    right: 15px;
    background: $lighter;
    line-height: 0.9;
    padding: 10px;
    i {
      font-size: 40px;
      line-height: 0;
    }
    span {
      display: inline-block;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      &.identifier {
        font-size: 35px;
        background: $lighter;
      }
    }
  }
  @media (min-width: 992px) {
    &:hover {
      .background {
        @include transform(translate3d(0,100%,0));
      }
      .info {
        @include transform(translate3d(0,0,0));
      }
      .tag {
        color: white;
        background: $grayer;
      }
    }
  }  
}

.type-post {
  &:hover {
    .background {
      @include transform(translate3d(0,100%,0));
    }
    .info {
      @include transform(translate3d(0,0,0));
    }
  }
}

.item {
  position: relative;
  margin-bottom: 30px;
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
  }

  .background {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    z-index: -1;
    // @include filter(grayscale, 100%);
    @include trans-duration(300ms);
  }

  .info {
    width: 100%;
    height: 100%;
    background: rgba($grayer,0.8);
    color:white;
    padding: 20px 50px 20px 20px;
    @media (min-width: 992px) {
      background: $grayer;
      @include transform(translate3d(0,-100%,0));
      @include trans-duration(300ms);
    }
  }

  &.post {
    .info {
      padding: 20px;
      @include transform(translate3d(0,0,0));
    }
  }

  .title {
    font-family: $primary-font;
    margin: 0;
    color: $lighter;
    line-height: 36px;
    margin-top: 10px;
    a {
      color: $lighter;      
    }
  }

  .details, .authors {
    font-size: 14px; 
    color: $light;
    font-family: $secondary-font;
    font-weight: 600;
    text-transform: uppercase;
  }

  .details {
    a {
      color: $light;
    }
  }

  .authors {
    position: absolute;
    bottom: 20px;
    left: 20px;
    ul {
      margin: 0;
    }
    a {
      color: white;
    }
  }

  &:hover:after {
    opacity: 1;
  }

  &:hover:after {
    opacity: 0;
  }
}

.portfolio, .docencia, .artigos {
  .backend {
    .trabalhos, .post {
      &:hover {
        .extra {
          display: block;
        }
      }
    }
    .extra {
      position: absolute;
      display: none;
      top: 0;
      right: -29px;
      background: #aaaaaa;
      padding: 10px;
      text-align: center;
      z-index: 1;
      ul {
        margin-bottom: 0;
        a {
          text-decoration: none !important;
        }
        li:first-child {
          margin-bottom: 10px;
        }
        i {
          color: white;
          &.icon {
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            line-height: 0;
            &.dm-editar {
              margin-bottom: 15px;
            }
          }
          &.fa-edit {
            margin-bottom: 15px;
          }
          &:hover {
            color: $grayer
          }
        }
      }
    }
  } 
}

.artigos {
  .backend {
    hr {
      margin-bottom: 30px;
    }
  }
}

/*------------------------------------*\
  BACKEND
\*------------------------------------*/

/* Article */

.page-id-373, .page-id-377 {
  form {
    margin-top: 200px;

    .acf-field {
      padding-right: 15px;
      padding-left: 15px;     
      float: left;
    }

    .field_key-field_53e42b7ef768c{
      width: 41.66666667%;

    }
    
    .field_key-field_53e04c9b38a5b, .field_key-field_53e42b96f768d, .acf-form-submit{
      margin-left: 8.33333333%;
      width: 50%;
    }

    .field_key-field_53e42b96f768d, .acf-form-submit {
      float: right;
    }

    .field_key-field_53e42b7ef768c {
      textarea {
        border: 0;
        background: none;
        font-size: 60px;
        font-family: $primary-font;
        height:auto;
        width: 100%;
        resize: none;
      }
    }

    .field_type-image {
        .acf-input {
          padding: 0;
          .hide-if-value{
            width: 100%;
            border: 1px solid $light;
            a {
              padding: 83px 0;
              width: 100%;
              height: 100%;
              border-radius: 0;
              border: 0;
              color: $light;
              text-decoration: none;
              background: $lighter;
              font-family: $secondary-font;
              font-size: 14px;
              text-transform: uppercase;
              font-weight: light; 
              &:hover {
                color: $grayer;
              }
              &:active {
                line-height: 26px;
              }
            }
          }
        }        
      }

  }
}

/* User Update */

.author {
  #user {
    &.u-hide {
      display:none;
    }
  }
  #user-edit {
    display: none;
    &.u-show {
      display: block;
    }
  }
  .divider {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 100px;
    }
  }
}

#user-edit {

  .acf-label {
    display: none;
  }

  .field_key-field_53e65cfd1864b {
    margin: 0 0 13px;
  }

  .wp-editor-tabs {
    display: none;
  }

  div.mce-toolbar-grp {
    position: absolute;
    top: -40px;
  }

  form {
    margin-top: 150px;

    &.self-profile {
      margin-top: 75px;
    }

    input, textarea {
      border: 0;
      background: transparent;
      display: block;
      width: 100%;
      color: $grayer;
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 100;
      padding:0;
    }

    input {
      text-align: center;
      @media (min-width: 768px) {
        text-align: inherit;
      }
    }

    textarea {
      font-size: 18px;
      height: 300px;
      resize: none;
    }

    #first-name, #last-name, #name-dash {
      font-size: 50px;
      font-family: $primary-font;
      text-transform: capitalize;
      font-weight: normal;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      @media (min-width: 768px) {
        text-align: inherit;
        font-size: 60px;
      }
    }

    #first-name {
      color: $grayer;    
      margin-top: 61px;
      @media (min-width: 768px) {
        margin-top: 1px;
      }
    }

    #last-name {
      margin-top: -17px;
    }

    #name-dash {
      margin-top: 0.08em;
      display: block;
      line-height: 0.78em;
    }

    #user-edit-avatar {
      margin-top: 100px;
    }

    #user-edit-description {
      margin-top: 129px;
    }

    .form-divider {
      margin-bottom: 100px;
    }

    .form-title {
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top:15px;
      margin-bottom:0;
      color: $grayer;
      text-align: center;
      display: block;
      &:first-of-type {
        margin-top: 62px;    
      }
      @media (min-width: 768px) {
        text-align: inherit;
      }
    }

    .social {
      .acf-field {
        margin-bottom:0;
      }
      .acf-input-prepend {
        color: $grayer;
        font-family: $secondary-font;
        font-size: 16px;
        font-weight: 100;
        background: none;
        border: 0;
        margin: 0;
        padding: 0;
        padding-top: 5px;
        margin-left: 50px;
        @media (min-width: 768px) {
          text-align: inherit;
          margin-left: 0;
        }      
      }

      input {
        padding: 0;
        text-align: left;
      }
    }


    @media (min-width: 768px) {
      margin-top: 150px;
      &.self-profile {
        margin-top: 150px;
      }
    }
  
  }

  /* User Update Avatar */
  .field_key-field_53c747e0a9ba7 {
    height: 200px;
    width: 200px;
    display:block;
    margin:0 auto;

    @media (min-width: 768px) {
      height: 280px;
      width: 274px;
      margin-top: 5px;
    }

    .acf-input, .acf-image-uploader, .show-if-value, .hide-if-value, img {
      width: 100%;
      height: 100%;
    }

    .acf-hl {
      z-index: 1;
      li:first-of-type {
        display: none;
      }
    }

    .acf-icon {
      &.dark {
        color: white;
        height: 35px;
        width: 35px;
        border-radius: 25px;
        padding: 4px;
        text-decoration: none;
      }
    }

    .acf-image-uploader {
      @include transform(rotate(-45deg));
      @include transform-origin(50%);
    }

    .hide-if-value {
      border: 1px dashed $light;
      border-width: 3px;
      &:hover {
        border: 3px solid $grayer;
      }
      a {
        width: 100%;
        height: auto;
        padding: 55px 0;
        border: 0;
        line-height: 1.5;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        color: $light;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -o-mask-image: -webkit-radial-gradient(white, black);
        -moz-mask-image: -webkit-radial-gradient(white, black);
        mask-image: -webkit-radial-gradient(white, black);
        @include transform(rotate(45deg) scale(1.42));
        @include transform-origin(50%);
        .icon {
          font-size: 28px;
        }
        &:hover {
          color: $grayer;
        } 
        @media (min-width: 768px) {
          padding: 90px 0;
        }       
      }
    }

    .show-if-value {
      border: 5px solid $grayer;
      overflow: hidden;  
      img {
        @include filter(grayscale, 100%);
        @include transform(rotate(45deg) scale(1.42));
        @include transform-origin(50%);
      }
      li {
        @include transform(rotate(45deg));
        @include transform-origin(50%);
      }
    }

  }
}

/* User Profile an Add Work */
#photo-edit, #photo-edit-exit, #editToggle, #update-user {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  .loading {
    display: none;
    font-size: 30px;
    line-height: 0;
  }
  @media (min-width: 768px) {
    margin-top: 70px;
  }
}

#photo-edit-exit, #update-user {
  display: none;
}

#post > .acf-error-message {
  display: none !important;
}

#photo-edit.dock, #photo-edit-exit.dock {
  display: none !important;
}

/* User Settings */
.page-id-231 {
  input {
    width: 100%;
  }
  input[type="text"], input[type="password"] {
    outline: none;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  input[type="submit"] {
    margin-top: 25px; 
    margin-bottom: 15px;
  }
  input[type="password"] {
    margin-bottom: 15px;
  }
  .prepend {
    font-size: 30px;
    float: left;
    .url {
      display: none;
      @media (min-width: 992px) {
        display: inline-block;
      }      
    }
  }
  .append {
    position: relative;
    overflow: hidden;
  }
  .current-link {
    margin-top: 8px;
    .prepend {
      float: inherit;
      font-size: inherit;
    }
  }
}

/* Backend */
.backend {

  /* Geral */
  .acf-label {
    display: none;
  }

  .caption {
    margin-bottom: 50px;
  }

  /* Definições e Portfolio */
  .nav-tabs {
    border: 0;
    margin-bottom: 20px;
    li {
      font-family: $secondary-font;
      font-size: 14px;
      text-transform: uppercase;
      margin-right: 30px;
      a {
        border: 0;
        border-radius: 0;
        border-top: 1px solid $light;
        top: -1px;
        color: $light;
        padding-right: 0;
        padding-left: 0;
      }
      &:hover, &.active {
        a {
          background: none;
          color: $grayer;
          border-top: 1px solid $grayer;
          &:hover {
            background: none;
            border: 0;
            border-top: 1px solid $grayer;
          }
        }
      }
    }
  }

  /* Portfolio */
  .item {
    &.novo {
      height:300px;
      border: 1px dashed $light;
      
      &:after {
        background: $lighter;
      }

      &:hover {
        border: 1px solid $grayer;
      }

      a {
        color: $light;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-size: 14px;
        &:hover {
          color: $grayer;
        }
      }

      i {
        margin-bottom: 30px;
      }

      .icon {
        font-size: 45px;
        display: block;
      }

      .fa {
        display:block;
      }
    }
  }

  .acf-icon {
    &.dark {
      background: none !important;
      box-shadow: none !important;
      height: auto !important;
      width: auto !important;
      text-decoration: none !important;
    }
  }

  /* Work Update Cover */
  .field_key-field_53cb150657678 {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    .view.hide-if-value {
      width: 100%;
      position: inherit;

      a {
        background: $lighter;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        border: 0;
        padding: 249px 0 109px 0;
        border-bottom: 1px dashed $light;
        border-width: 3px;
        border-radius: 0;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-size: 22px;
        color: $light;
        text-decoration: none;
        font-weight: normal;
        i {
          &.icon {
            font-size: 82px;
          }
        }
        &:hover {
          color: $grayer;
          border-bottom: 3px solid $grayer;
        }
        &:active {
          line-height: 26px;
        }
      }
    }
    .view.show-if-value {
      height: 500px;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
      }
      ul {
        top: inherit;
        right: 15px;
        bottom: 15px;
        li {
          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  /* Cover Overlay */

  .cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 501px;
    z-index: -1;
    background: rgba($lighter,0.9);
  }

  /* Work Title */
  .field_key-field_53cc0bf253174{
    height: 500px;
    max-width: 100%;
    margin-bottom: 50px;
    position: relative;
    .acf-input {
      margin: 0 auto;
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;

      textarea {
        border: 0;
        background: none;
        font-size: 60px;
        font-family: $primary-font;
        height:auto;
        text-align: center;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        resize: none;

        @media (min-width: 992px) {
          width: 66.66666667%;
          margin-left: 16.66666667%;
        }
        @media (min-width: 1200px) {
          width: 50%;
          margin-left: 25%;
        }
      }

      .dash {
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: 0;
        text-align: center;
      }

    }
  }

  .div.mce-toolbar-grp {
    background: $lighter !important;
  }

  .field_key-field_53cb1133144f5 {
    .no-value-message {
       display:none !important;
    }
    .acf-gallery .acf-gallery-toolbar {
      height: 46px;
      padding: 10px 15px;
    }
    .acf-hl.acf-clearfix {
      .acf-fr {
        float: inherit;
        width: 100%;
        text-align: center;
        > a {
          background: none;
          border: none;
          i {
            color: $light;
          }
          &:hover {
            i {
              color: $grayer;
            }
          }
        }
      }
    }

    .values {
      .acf-input-table {
        border: 0;
      }
      .acf-fc-layout-controlls {
        padding: 5px 10px 5px 8px;
        right: -40px;
        width: 40px;
        top: 34px;
        background: $light;
        .acf-icon {
          background: none;
          border: none;
          width: auto;
          height: auto;
          overflow: visible;
        }
        i {
          color: white;
          font-size: 24px;
          cursor: pointer;
          &.fa-plus {
            margin-bottom: 15px;
          }
          &:hover {
            color: $grayer;
          }
        }
      }
      .acf-fc-layout-handle {
        background: $light;
        display: none;
        color: white;
        font-family: $secondary-font;
        font-size: 14px;
        text-transform: uppercase;
        border:0;
        position: absolute;
        top: 0;
        right: -40px;
        padding: 5px 8px;
        i {
          font-size: 24px;
          &.fa-arrows-v, &.dm-ordenar {
            cursor: move;
          }
          &:hover {
            color: $grayer;
          }
        }
        &:hover {
          cursor: auto;
        }     
      }

      .layout {
        margin-bottom: 25px;
        background: none;
        &:hover {
          .acf-fc-layout-handle {
            display: block;
          }
        }
        .acf-table {
          display: table !important;
        }
        textarea {
          display: none;
        }
      }

      .field_type-oembed {
        .acf-input {
          padding: 0;
          border: 1px solid $light;
        }
        .acf-oembed {
          border: 0;
          .title, .title-search, .title-search input, .title-value, .canvas{
            background: $lighter;
            border: 0;
          }
          .title {
            padding-top: 3px;
            padding-bottom: 2px;
            .acf-icon {
              top: 2px;
              right: 10px;
            }
          }
          .canvas-loading {
            background: $lighter !important;
          }
          .title-search {
            input {
              font-family: $secondary-font;
              font-size: 14px;
              font-weight: light; 
              color: $grayer;
              text-transform: uppercase;     
            }
          }
          .title-value {
            text-transform: uppercase;
          }
          .canvas {
            i {
              font-size: 45px;
              color: $light;
              &.icon {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -22px 0 0 -22px;
                z-index: 0;
              }
              &.acf-sprite-media {
                display: none;
              }
            }
          }
          .canvas-media {
            iframe {
              max-height: 420px;
            }
          }
        }
      }

      .field_type-gallery {
        border: 1px solid $light !important;
        .acf-input {
          padding: 0;
          .acf-gallery {
            border: 0;
            .acf-gallery-main {
              background: $lighter;
              .acf-gallery-attachments {
                overflow: auto;
                padding: 15px;
                .acf-gallery-attachment{
                  width: 50%;
                  .padding {
                    border: $light;
                  }
                }
              }
            }
            .acf-gallery-toolbar {
              li {
                text-align: center;
                width: 100%;
              }
              .bulk-actions {
                display: none !important;
              }
              .acf-button {
                background: none;
                border: 1px solid $light;
                border-radius: 0;
                color: $light !important;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                  color: $grayer !important;
                  border: 1px solid $grayer;
                }
              }
            }
            .ui-resizable-handle.ui-resizable-s{
              background: $light;
            }
          }   
        }
      }

      .field_type-textarea {
        .acf-input {
          padding: 0;
          background: none;
          .editable {
            background: $lighter;
            outline: none;
            p {
              margin: 0;
              padding: 0;
            }
            &.medium-editor-placeholder {
              color: $lighter;
            }
          }
        }       
      }

      .field_type-wysiwyg {
        .acf-input {
          padding: 0;
          background: $lighter;
          .wp-editor-container {
            border: 0;
          }
        }
      }

      .field_type-text {
        border: 0;
        .acf-input {
          background: $lighter;
        }
        input {
          border: 0;
          height:auto;
          background: $lighter;
        }
        &.field_key-field_53cb1e431849f {
          input {
            font-style: italic;
            font-size: 24px;
            text-align: center;
          }
        }
        &.field_key-field_53cb1dfb1849b {
          input {
            font-size: 36px;
            line-height: 48px;
            font-family: $primary-font;
            text-align: center;
          }
        }
      }

      .field_type-image {
        .acf-input {
          padding: 0;
          .hide-if-value{
            width: 100%;
            border: 1px solid $light;
            a {
              padding: 83px 0;
              width: 100%;
              height: 100%;
              border-radius: 0;
              border: 0;
              color: $light;
              text-decoration: none;
              background: $lighter;
              font-family: $secondary-font;
              font-size: 14px;
              text-transform: uppercase;
              font-weight: light;
              i {
                &.icon {
                  font-size:60px;
                }
              }
              &:hover {
                color: $grayer;
              }
              &:active {
                line-height: 26px;
              }
            }
          }
        }        
      }

      .field_type-select {
        .acf-input {
          background: $lighter;
          padding: 15px 0;
        }
      }
    }

    .acf-field {
      &:hover {
        .acf-fc-layout-handle {
          background: $light;
        }
      }
    }


    .acf-table td.acf-input {
      border-left: inherit;
    }

    .acf-fc-popup.within-layout {
      
      ul {
        background: $light;
        li {
          border: none;
          &:hover {
            a {
              background: $grayer;
              text-shadow: none;
            }
          }
        }
      }
      .bit {
        border-top-color: $light;
        &.top {
          border-bottom-color: $light;
        }
      }

    }
    .acf-fc-popup:not(.within-layout) {
      position: inherit;
      margin: 0 !important;
      border: 0;
      box-shadow: none;
      width: 100%;
      background: none;

      .bit {
        display: none;
      }

      ul {
        margin: 0 -15px;
        margin-top: 25px;
        li {
          width: 33.33333333%;
          float: left;
          padding: 0 15px;
          margin-bottom: 15px;
          border: none;
          a {
            color: $light;
            text-align: center;
            font-family: $secondary-font;
            font-size: 14px;
            font-weight: light;
            text-transform: uppercase;     
            border: 1px dashed $light;
            padding: 15px 0;
            border-radius: 0;
          }
          &:hover {
            a {
              color: $grayer;
              background: none;
              text-shadow: none;
              border: 1px solid $grayer;
            }
          }
        }
      }
    }
  }

  /* Work Selects */

  .field_key-field_53da7f67483c3, .field_key-field_53da80d7164a9, .field_key-field_53da8092af685, .field_key-field_53da8112164aa, .field_key-field_53da8216547ca, .field_key-field_53cc0c1253175,.field_key-field_53cb1133144f5, .acf-form-submit {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .field_key-field_53da7f67483c3, .field_key-field_53da80d7164a9, .field_key-field_53da8092af685, .field_key-field_53da8112164aa {
    width: 33.33333333%;
  }

  .field_key-field_53da8216547ca, .field_key-field_53cc0c1253175,.field_key-field_53cb1133144f5 {
    width: 66.66666667%;
  }

  .field_key-field_53da7f67483c3,.field_key-field_53da8092af685,.field_key-field_53da8216547ca,.field_key-field_53cc0c1253175,.field_key-field_53cb1133144f5, .acf-form-submit {
    margin-left: 16.66666667%;
    clear: left;
  }

  .field_key-field_53cc0c1253175, .field_key-field_53da8216547ca {
    margin-bottom: 50px;
  }

  .field_key-field_53cb1133144f5 {
    margin-bottom: 75px;
  }

  .field_type-user,.field_type-taxonomy,.field_key-field_53da8112164aa,.field_type-post_object {
    .acf-label {
      display: block !important;
      label {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $secondary-font;
        font-size: 16px;
      }
    }
  }

  .field_key-field_53da8216547ca {
    .description {
      font-size: 12px;
      margin-top: 5px;
      color: $light;
    }
  }

  .select2-choice {
    height: 34px;
    padding: 4px 0 3px 8px;
    background-color: $lighter;
    background-image: none !important;
    box-shadow: none;
    border: 1px solid $light;
    border-radius: 0;
    .select2-arrow {
      background-image: none !important;
      right: 3px;
      top: 3px;
      border-radius: 0;
      background: none;
      border: 0;
    }
  }

  .select2-container-active, .select2-drop-above {
    border: 0;
    border-bottom: 0;
    border-radius: 0;
  }

  .select2-dropdown-open.select2-drop-above .select2-choice {
    border: 1px solid $light; 
    border-radius: 0;
  }

  .select2-container-multi .select2-choices .select2-search-field input {
    font-family: $secondary-font;
  }

  .select2-drop.select2-drop-above.select2-drop-active {
    border-top: 0;
    border-radius: 0;
  }

  .select2-container {
    ul {
      background: none;
      border: 1px solid $light !important;
      box-shadow: none !important;
    }

    .select2-search-field {
        background: $lighter !important;

        input.select2-active {
          background: $lighter !important;
        }
      }
    .select2-search-choice {
      background: $grayer;
      border: 0;
      border-radius: 0;
      color: white;
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 100;
      padding: 6px 8px 4px 20px;

      .select2-search-choice-close {
        left: 5px;
        top: 5px;
      }

    }
  }

}

.author, .post-type-archive-trabalhos, .page-id-123, .page-id-141 {
  .select2-dropdown-open .select2-choice {
    box-shadow: none;
    border: 1px solid $light;
    border-radius: 0; 
  }

  .select2-container-active, .select2-drop-above {
    border: 0;
    border-bottom: 0;
    border-radius: 0;
  }

  .select2-dropdown-open.select2-drop-above .select2-choice {
    border: 1px solid $light; 
    border-radius: 0;
  }

  .select2-container-multi .select2-choices .select2-search-field input {
    font-family: $secondary-font;
  }

  .select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid $light;
    border-radius: 0;
  }

  .category {
    .select2-container {
      .select2-choice {
        &> .select2-chosen {
          text-align: center;
        }
      }
    }
  }

  .select2-container {
    width: 100%;
    ul {
      background: none;
      border: 1px solid $light !important;
      box-shadow: none !important;
    }

    .select2-choice {
      height: 34px;
      padding: 4px 0 3px 8px;
      background-color: $lighter;
      background-image: none !important;
      box-shadow: none;
      border: 1px solid $light;
      border-radius: 0;

      .select2-arrow {
        background-image: none !important;
        right: 3px;
        top: 3px;
        border-radius: 0;
        background: none;
        border: 0;
      }
    }

    .select2-search-field {
        background: $lighter !important;

        input.select2-active {
          background: $lighter !important;
        }
      }
    .select2-search-choice {
      background: $grayer;
      border: 0;
      border-radius: 0;
      color: white;
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 100;
      padding: 6px 8px 4px 20px;

      .select2-search-choice-close {
        left: 5px;
        top: 5px;
      }

    }
  }

  .select2-drop {
    background: $lighter;
    border: 1px solid $light;
    border-radius: 0;
    border-top: 0;
    &.select2-drop-active {
      box-shadow: none;
      background: $lighter;
    }
    .select2-search {
      background: $lighter;
    }
    .select2-results {
        background: $lighter;
        font-family: $secondary-font;
        font-size: 14px;
        font-weight: 100;
        .select2-highlighted{
          background: $light;
        }
    }
  }
}

/*------------------------------------*\
  WORKS PAGE
\*------------------------------------*/

#works {
  float:left;
  width: 100%;
  margin-top: 50px;
}

.filter {
  margin-bottom: 15px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  } 
}

/*------------------------------------*\
  STUDENTS PAGE
\*------------------------------------*/

.page-id-9 {
  .user {
    &:first-child {
      h2 {
        margin-top:0; 
      }   
    }
  }
}

/*------------------------------------*\
  TEACHERS PAGE
\*------------------------------------*/

.docentes {
  .caption {
    margin-bottom: 100px;
    text-align: center;
    @media (min-width: 768px) {
      margin-bottom: 125px;
      text-align: inherit;
    } 
  }
  .user {
    margin-bottom: 100px;
    .avatar {
      width: 200px;
      height: 200px;
      display: block;
      overflow: hidden;
      margin: 0 auto;
      @include transform(rotate(-45deg));
      @include transform-origin(50%);
      border: 5px solid $grayer;
      a {
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -o-mask-image: -webkit-radial-gradient(white, black);
        -moz-mask-image: -webkit-radial-gradient(white, black);
        mask-image: -webkit-radial-gradient(white, black);
      }
      img {
        width: 100%;
        @include filter(grayscale, 100%);
        @include transform(rotate(45deg) scale(1.41));
        @include transform-origin(50%);
      }
      @media (min-width: 768px) {
        width: 150px;
        height: 150px;
      } 
    }
    .details {
      text-align: center;
      margin-top: 60px;
    }
  }
}

/*------------------------------------*\
  ABOUT PAGE
\*------------------------------------*/

.page-id-196 {
  #content {
    margin-top: 125px;
    margin-bottom: 50px;

    .caption {
      margin-top: 0;
      margin-bottom: 50px;
      @media (min-width: 768px) {
        margin-bottom: 100px;
      } 
    }

    p {
      font-size: 22px;
      margin-bottom: 30px;
      a {
        text-decoration: underline;
      }
    }

    .divider {
      margin-bottom: 50px;
      @media (min-width: 768px) {
        margin-bottom: 100px;
      } 
    }

    table {
      width: 100%;
      font-size: 18px;
      td {
        &.title {
          text-align: center;
        }
      }
      ul {
        margin-bottom: 0;
        li {
          margin: 10px 0;
          line-height: 1.2;
          span {
            font-size: 12px;
            text-transform: uppercase;
            color: $gray;
          }
        }
      }
      &#optional {
        margin-top: 50px;
      }
    }
    @media (min-width: 768px) {
       margin-top: 200px;
       margin-bottom: 100px;
    }
  }
}

/*------------------------------------*\
  AUTHOR PAGE
\*------------------------------------*/

.author {

  /* author description */
  .user-description {
    font-size: 18px;
    margin-bottom: 0;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  #user {
    /* author avatar */
    .avatar {
      width: 200px;
      height: 200px;
      display: block;
      margin: 0 auto;
      margin-top: 150px;
      overflow: hidden;
      @include transform(rotate(-45deg));
      @include transform-origin(50%);
      border: 5px solid $grayer;
      .fake-mask {
        width: 100%;
        height:100%;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -o-mask-image: -webkit-radial-gradient(white, black);
        -moz-mask-image: -webkit-radial-gradient(white, black);
        mask-image: -webkit-radial-gradient(white, black);           
      }
      img {
        width: 100%;
        height: 100%;
        @include filter(grayscale, 100%);
        @include transform(rotate(45deg) scale(1.42));
        @include transform-origin(50%);
      }
      &.self-profile {
        margin-top: 75px;
      }
      @media (min-width: 768px) {
        margin-top: 250px;
        width: 250px;
        height: 250px;
        &.self-profile {
          margin-top: 250px;
        }
      }
    }
    /* author name */
    .caption {
      font-size: 50px;
      margin-top: 60px;
      margin-bottom: 0;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 60px;
        margin-top: 160px;
        text-align: inherit;
      }
    }

    .first-name, .last-name {
      font-weight: normal;
      text-transform: capitalize;
    }
    .role {
      font: $secondary-font;
      text-transform: uppercase;
    }
    /* divider */
    .divider {
      margin-bottom: 75px;
      @media (min-width: 768px) {
        margin-bottom: 125px;
      }
    }
    /* author description */
    .description {
      font-size: 18px;
      margin-bottom: 50px;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }
    /* author details */
    div.details {
      font-size: 16px;
      font-weight: 100;
      text-align: center;
      margin-top: 50px;
      .detail {
        margin-bottom: 15px;
      }
      h6 {
        font-family: $secondary-font;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 3px;
        margin-bottom: 2px;
      }
      ul.list-inline {
        margin-left: 0;
        margin-top: 8px;
      }
      @media (min-width: 768px) {
        text-align: inherit;
      }
    }
    /* title divider */
    .title-divider {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 48px;
    }
  }

}

/*------------------------------------*\
  SINGLE ARTICLE PAGE
\*------------------------------------*/

.single-post {
  #content {
    padding-bottom: 0;
  }
  #next-article {
    overflow: hidden;
    a {
      text-decoration: none !important;
    }
    .item {
      margin-bottom: 0;
      height: auto;
    }
  }
  input[type="submit"] {
    margin-bottom: 0;
  }
  .content {
    margin-top: 0px;
    margin-bottom: 100px;
    @media (min-width: 992px) {
      margin-top: 200px;
    }
    img {
      width: 100%;
      margin-bottom: 50px;
    }
    .description {
      p {
        font-size: 22px;
        margin-bottom: 30px;
        color: $grayer !important;
        span {
          color: $grayer !important;
        }
      }      
      margin-bottom: 50px;
    }
    .comment {
      position: relative;
      margin-bottom: 15px;
      &:hover > .remove {
        display: block;
      }
      p {
        img {
          width: auto !important;
          margin-bottom: 0;
        }
      }
    }
    textarea {
      background: transparent;
      border: 1px solid $light;
      resize: none;
      width: 100%;
      padding: 10px;
    }
    .comments {
      ul {
        list-style: none;
        padding: 0;
        .reply a, .comment-details {
          color: $light;
        }
        .reply a:hover {
          color: $grayer;
        }
        .author {
          font-weight: bold;
          display: block;
          @media (min-width: 768px) {
            display: initial;
          }
        }
        .comment-content {
          font-size: 16px;
          margin-top: 5px;
          @media (min-width: 768px) {
            margin-top: 0;
          }
        }
        li {
          li {
            margin-top: 15px;
            padding-left: 15px;
          }
        }
        .avatar {
          float: left;
          .fake-mask {
            width: 100%;
            height:100%;
            -webkit-mask-image: -webkit-radial-gradient(white, black);
            -o-mask-image: -webkit-radial-gradient(white, black);
            -moz-mask-image: -webkit-radial-gradient(white, black);
            mask-image: -webkit-radial-gradient(white, black);           
          }
          img {
            width: 100%;
            margin-bottom: 5px;
            @include filter(grayscale, 100%);
          }
        }
        .remove {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          display: none;
          z-index: 2;
          text-decoration: none !important;
          .icon {
            font-size: 18px;
          }
        }
      }
    }
    .nav-tabs {
      border: 0;
      margin-bottom: 20px;
      li {
        font-family: $secondary-font;
        font-size: 14px;
        text-transform: uppercase;
        margin-right: 30px;
        a {
          border: 0;
          border-radius: 0;
          border-top: 1px solid $light;
          top: -1px;
          color: $light;
          padding-right: 0;
          padding-left: 0;
        }
        &:hover, &.active {
          a {
            background: none;
            color: $grayer;
            border-top: 1px solid $grayer;
            &:hover {
              background: none;
              border: 0;
              border-top: 1px solid $grayer;
            }
          }
        }
      }
    }
  }
}

/*------------------------------------*\
  SINGLE COURSE PAGE
\*------------------------------------*/

.single-cadeiras {
  #content {
    margin-top: 125px;
    margin-bottom: 50px;
    font-size: 16px;
    @media (min-width: 768px) {
      margin-top: 200px;
      margin-bottom: 100px;
    }

    h6 {
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 3px;
      margin-bottom: 2px;
      text-align: center;
      @media (min-width: 768px) {
        text-align: inherit;
      }
    }

    .details {
      text-align: center;
      margin-bottom: 50px;
      @media (min-width: 768px) {
        text-align: inherit;
        margin-bottom: 0;
      }
    }

    .caption {
      margin-top: 0;
      text-align: center;
      @media (min-width: 768px) {
        text-align: inherit;
        margin-bottom: 50px;
      }
    }

    .description {
      font-size: 22px;
      p {
        margin-bottom: 30px;
        color: $grayer !important;
        span {
          color: $grayer !important;
        }
      }
      li {
        margin-bottom: 15px;
        color: $grayer !important;
      }
    }

    .divider {
      margin-bottom: 100px;
    }
  }
}

/*------------------------------------*\
  SINGLE WORK PAGE
\*------------------------------------*/

.single-trabalhos {

  .cover {
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;

    // @media (min-width: 992px) {
    //   background-attachment: fixed;
    // }
  }

  .cover-overlay {
    background: rgba($lighter,0.6);
    position:relative;
    margin-bottom: 50px;
  }

  .title-container {
    position:absolute;
    bottom:25px;
    left:0;
    width:100%;
    text-align: center;
    .dash {
      line-height: 0;
    }

    .title, .dash {
      font-size: 35px;
      font-family: $primary-font;
      @media (min-width: 768px) {
        font-size: 60px;
      }
    }
    @media (min-width: 768px) {
      bottom:100px;
    }
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  #work-extra-details {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    .dm-apreciar, .dm-depreciar {
      vertical-align: sub;
    }

    .count {
      font-size: 32px;
      font-weight: 100;
    }

    .visualizations {
      font-size: 16px;
    }

    a.jm-post-like {
      font-weight: normal;
      display: inline-block;
      width: auto;
      -moz-transition: all 0.3s ease-out 0.2s;
      -webkit-transition: all 0.3s ease-out 0.2s;
      -o-transition: all 0.3s ease-out 0.2s;
      text-decoration: none;
    }

    a.jm-post-like.liked { color: #e74c3c; }

    a.jm-post-like:hover,
    a.jm-post-like:active,
    a.jm-post-like:focus,
    a.liked:hover,
    a.liked:active,
    a.liked:focus {
      color: #000;
    }
  }
  
  #related-work {
    margin-top: 50px;
    @media (min-width: 768px) {
      margin-top: 75px;
    }
  }

  .cover,.cover-overlay {
    height: 350px;
    @media (min-width: 768px) {
      height: 350px;
    }
    @media (min-width: 992px) {
      height: 350px;
    }
    @media (min-width: 1200px) {
      height: 500px;
    }
  }

  .work-details {
    text-align: center;
    margin-bottom: 100px;
    .title {
      text-transform: uppercase;
      font-weight: 600;
      font-family: $secondary-font;
      font-size: 18px;
    }
    li,p {
      font-size: 16px;
    }
  }

  .work-description {
    font-size: 22px;
    margin-bottom: 75px;
    margin-top: 25px;
    a {
      text-decoration: underline;
    }
  }

  .work-extra-fields {
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
    a[rel="lightbox"] {
      img {
        margin-bottom: 30px;
      }
    }
    h2 {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 50px;
      @media (min-width: 768px) {
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 100px;
      }
    }
    p {
       font-size: 22px;    
       color: $grayer !important; 
      a {
        text-decoration: underline;
      } 
    }
    .field {
      margin-bottom: 75px;
    }
    blockquote {
      border: 0;
      text-align: center;
      font-style: italic;
      font-size: 36px;
    }
  }
  #categories {
    margin-top: 30px;
    i {
      font-size: 40px;
    }
  }
}

.acf-error-message {
  background: #e74c3c !important;
  border: transparent solid 1px !important;
  text-shadow: none !important;
  border-radius: 0 !important;

  p:after {
    border-top-color: #e74c3c !important;
  }
}

/*------------------------------------*\
  NOTIFICATIONS
\*------------------------------------*/

.ns-box {
  position: fixed;
  background: rgba(42,45,50,0.85);
  padding: 12px 0;
  line-height: 1.4;
  z-index: 10000;
  pointer-events: none;
  color: rgba(250,251,255,0.95);
  font-size: 90%;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.ns-box.ns-show {
  pointer-events: auto;
}

.ns-box a {
  color: inherit;
  opacity: 0.7;
  font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
  opacity: 1;
}

.ns-box p {
  margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
  pointer-events: auto;
}

.ns-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ns-close:hover, 
.ns-close:focus {
  outline: none;
}

.ns-close::before,
.ns-close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
  background: #fff;
}

.ns-close::before {
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
}

.ns-box.ns-bar {
  top: 0;
  left: 0;
  width: 100%;
}

.ns-bar .ns-close {
  background: transparent;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ns-bar .ns-close::before,
.ns-bar .ns-close::after {
  background: #b7b5b3;
}

[class^="ns-effect-"].ns-bar.ns-hide,
[class*=" ns-effect-"].ns-bar.ns-hide {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

/* Expanding Loader */
.ns-effect-exploader {
  background: #fff;
  color: #7a7264;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.ns-effect-exploader.ns-type-error {
  background: #e74c3c;
}

.ns-effect-exploader.ns-type-notice {
  background: #dff0d8;
}

.ns-effect-exploader .icon {
  position: absolute;
  left: 0.25em;
  top: 50%;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

.ns-effect-exploader .ns-box-inner {
  position: relative;
}

.ns-effect-exploader p {
  padding: 0.25em 2em 0.25em 3em;
}

.ns-effect-exploader .ns-close:hover::before,
.ns-effect-exploader .ns-close:hover::after {
  background: #98815a;
}

.ns-effect-exploader.ns-show {
  -webkit-animation-name: animLoad;
  animation-name: animLoad;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes animLoad {
  0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); }
  33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); }
  50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); }
  80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
  100% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
}

@keyframes animLoad {
  0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); transform: scale3d(0,0.3,1); }
  33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); transform: scale3d(0.5,0.3,1); }
  50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); transform: scale3d(0.6,0.3,1); }
  80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
  100% { opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.ns-effect-exploader.ns-hide {
  -webkit-animation-name: animFade;
  animation-name: animFade;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.ns-effect-exploader.ns-show .ns-box-inner,
.ns-effect-exploader.ns-show .ns-close {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.ns-effect-exploader.ns-show .ns-close {
  -webkit-animation-name: animFade;
  animation-name: animFade; 
}

.ns-effect-exploader.ns-show .ns-box-inner {
  -webkit-animation-name: animFadeMove;
  animation-name: animFadeMove;
  -webkit-animation-timing-function: ease-out; 
  animation-timing-function: ease-out;
}

@-webkit-keyframes animFadeMove {
  0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes animFadeMove {
  0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@-webkit-keyframes animFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Modal Styles */

.md {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 630px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  .md-content {
    color: $grayer;
    background: $lighter;
    position: relative;
    border: 1px solid $light;
    padding: 15px 30px;
    margin: 0 auto;
    text-align: center;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    p {
   
    }
    ul {
      display: block;
      margin: 0;
      button {
        margin: 0;
      }
    }
  }

  &.md-show {
    visibility: visible;
    .md-content {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba($lighter,0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay, .md-overlay.md-show {
  opacity: 1;
  visibility: visible;
}

.fluidbox {
  outline: none;
}
.fluidbox-overlay {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .25s ease-in-out;
  background: rgba($lighter,0.9) !important;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: all .25s ease-in-out;
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}
  .fluidbox-closed .fluidbox-ghost {
    -webkit-transition-property: top, left, opacity, -webkit-transform;
    -moz-transition-property: top, left, opacity, -moz-transform;
    -o-transition-property: top, left, opacity, -o-transform;
    transition-property: top, left, opacity, transform;
    transition-delay: 0, 0, .25s, 0;
  }
  .fluidbox-closed .fluidbox-wrap img {
    transition-property: opacity;
    transition-delay: .25s;
    transition-duration: 0s;
  }

a[rel="lightbox"] {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  &.fluidbox-opened {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;       
  }
}

